name: Release App

on:
    push:
        tags:
            - 'v*'
        branches:
            - 'main'
        paths:
            - 'pubspec.yaml'
    workflow_dispatch:

permissions:
    contents: write

jobs:
    build-android:
        name: Build Android APK
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Setup Java
              uses: actions/setup-java@v4
              with:
                  distribution: 'zulu'
                  java-version: '17'

            - name: Setup Flutter
              uses: subosito/flutter-action@v2
              with:
                  channel: 'stable'

            - name: Install Dependencies
              run: flutter pub get

            - name: Get Version
              id: get_version
              shell: bash
              run: |
                  VERSION=$(grep 'version:' pubspec.yaml | cut -d ' ' -f 2 | cut -d '+' -f 1)
                  echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

            - name: Create Tag if Needed
              id: create_tag
              run: |
                  VERSION=${{ steps.get_version.outputs.VERSION }}
                  TAG_NAME="v$VERSION"
                  
                  # Fetch tags to check existence
                  git fetch --tags
                  
                  if git rev-parse "$TAG_NAME" >/dev/null 2>&1; then
                    echo "Tag $TAG_NAME already exists. Skipping auto-tag."
                    echo "TAG_EXISTS=true" >> $GITHUB_OUTPUT
                  else
                    echo "Tag $TAG_NAME does not exist. Creating..."
                    git config --global user.name "GitHub Actions"
                    git config --global user.email "actions@github.com"
                    git tag $TAG_NAME
                    git push origin $TAG_NAME
                    echo "TAG_EXISTS=false" >> $GITHUB_OUTPUT
                  fi

            - name: Build APK
              run: flutter build apk --split-per-abi --release --build-number=${{ github.run_number }}

            - name: Rename APK
              run: |
                  cd build/app/outputs/flutter-apk/
                  for file in app-*-release.apk; do
                    ABI=$(echo $file | sed 's/app-\(.*\)-release.apk/\1/')
                    mv "$file" "Ownd_v${{ steps.get_version.outputs.VERSION }}_${ABI}.apk"
                  done

            - name: Create Release
              uses: softprops/action-gh-release@v2
              with:
                  tag_name: v${{ steps.get_version.outputs.VERSION }}
                  files: build/app/outputs/flutter-apk/Ownd_v*.apk
                  generate_release_notes: true
